In [1]:
import pandas as pd

In [2]:
file_path = 'unique_artists_by_date.csv'
df = pd.read_csv(file_path)

In [3]:
df.head()

         date   Artist
0  2023-09-24       악뮤
1  2023-09-24  다이나믹 듀오
2  2023-09-24      이영지
3  2023-09-24      뉴진스
4  2023-09-24       정국

In [4]:
# '아이들'을 '여자 아이들'로 변경
df['Artist'] = df['Artist'].replace('아이들', '여자 아이들')

# 변경된 결과 확인
df.head()

         date   Artist
0  2023-09-24       악뮤
1  2023-09-24  다이나믹 듀오
2  2023-09-24      이영지
3  2023-09-24      뉴진스
4  2023-09-24       정국

In [5]:
# 변경 전 '아이들'이 포함된 행 확인
print("변경 전 '아이들' 포함된 행:")
print(df[df['Artist'] == '아이들'])

# '아이들'을 '여자 아이들'로 변경
df['Artist'] = df['Artist'].replace('아이들', '여자 아이들')

# 변경 후 '여자 아이들'로 바뀐 행 확인
print("\n변경 후 '여자 아이들' 포함된 행:")
print(df[df['Artist'] == '여자 아이들'])

변경 전 '아이들' 포함된 행:
Empty DataFrame
Columns: [date, Artist]
Index: []

변경 후 '여자 아이들' 포함된 행:
            date  Artist
11    2023-09-24  여자 아이들
65    2023-09-24  여자 아이들
80    2023-09-24  여자 아이들
127   2023-10-01  여자 아이들
187   2023-10-01  여자 아이들
...          ...     ...
5370  2024-08-18  여자 아이들
5483  2024-08-18  여자 아이들
5486  2024-08-25  여자 아이들
5603  2024-09-01  여자 아이들
5714  2024-09-08  여자 아이들

[94 rows x 2 columns]

In [6]:
# 수정된 데이터 저장
df.to_csv('modified_artists_by_date.csv', index=False)